 <footer class="row work wow fadeInLeft">
 	<div class="container">
    <div class="row">
      <div class="footer-copyright">
        <p align="center">2015 - NOC - Av. N. S. Copacabana, 1052 - Grupo 501/502 | Copacabana/RJ<br/> <span style="font-size: 14px;">Tel: <strong>(21) 2521-1914 - (21) 2521-1336</strong> - Cel: <strong style="position: relative; top: -3px;">99957-3003 <i class="fa fa-lg fa-whatsapp"></i></strong></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-social footer-social-center wow fadeIn">
        <a href="http://www.linkedin.com/in/nocrio" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="index.html#contato"><i class="fa fa-envelope"></i></a>
        <a href="index.html"><i class="fa fa-home"></i></a>
        <a href='http://www.doctoralia.com.br/centro-medico/noc+nucleo+de+oftalmologia+de+copacabana+ltda-2527027' rel='publisher' target='_top' style='text-decoration:none;' class='dralia-social-widget'>
          <img src='http://cdnmkt.doctoralia.com/widgetsocial/logo-white-round.png' alt='Noc Núcleo de Oftalmologia de Copacabana Ltda na Doctoralia' title='Noc Núcleo de Oftalmologia de Copacabana Ltda na Doctoralia' style='border:0;width:30px;height:30px;margin-top:-6px;' />
        </a>
      </div>
    </div>
  </div>
</footer>
