 <footer class="work wow fadeInLeft">
 	<div class="container">
    <div class="row">
      <div class="footer-copyright">
        <p align="center">2015 - NOC - Av. N. S. Copacabana, 1052 - Grupo 501/502 | Tel: <strong>(21) 2521-1914 - (21) 2521-1336</strong> - Cel: <strong>99957-3003 <i class="fa fa-lg fa-whatsapp"></i></strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-social footer-social-center wow fadeIn">
        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="index.html#contato"><i class="fa fa-envelope"></i></a>
        <a href="index.html"><i class="fa fa-home"></i></a>
      </div>
    </div>
  </div>  
</footer>