<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> NocRio </title>

    <link rel="shortcut icon" href="assets/ico/ico.png" type="image/x-icon">
    <style type="text/css">
        .centered   {
            position: fixed;    
            top: 50%;
            left: 50%;
            margin-top: -2%;
            transform: translate(-50%, -50%);
            height: 50%;
        }
    </style>
</head>