<nav class="navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" style="font-size: 30px" data-toggle="collapse" data-target="#top-navbar-1">
				<i class="fa fa-align-justify"></i>
			</button>
			<a class="navbar-brand" href="index.html">NocRio</a>
		</div>

		<div class="collapse navbar-collapse wow flipInX" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="index.html"><i class="fa fa-home"></i><br>Home</a>
				</li>
				<li>
					<a href="onoc.html"><i class="fa fa-user"></i><br>O NOC</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-tasks"></i><br>Novidades</a>
				</li>
      <!--   <li>
					<a href="#"><i class="fa fa-camera"></i><br>Produtos</a>
				</li> -->
				<li>
					<a href="#"><i class="fa fa-comments"></i><br>Dicas</a>
				</li>
				<li>
					<a href="index.html#contato"><i class="fa fa-envelope"></i><br>Contato</a>
				</li>
				<li>
					<a href="index.html#maps"><i class="fa fa-globe"></i><br>Localização</a>
				</li>
			</ul>
		</div>
	</div>
</nav>	
