/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


header{
	background-color:#fff;
	background-image: linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	
	padding:20px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
}

header h1, header h2{
	text-align:center;
	font-weight: normal;
}

header h1{
	font: 42px/50px 'Dancing Script', sans-serif;
	color:#5e676d;
}

header h2{
	font-style:italic;
	font-size:13px;
	color:#b2483a;
}


/*----------------------------
	Thumbnails
-----------------------------*/

.thumbs{
	width:100%;
	margin:60px auto 35px;
	text-align:center;
}

.thumbs a{
	width:120px;
	height:120px;
	display:inline-block;
	border:7px solid #5A745A;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	margin: 6px 6px 40px;
	position:relative;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.thumbs a:after{
	background-color: #5A745A;
    border-radius: 7px;
    bottom: -136px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    content: attr(title);
    display: inline-block;
    font-size: 10px;
    max-width: 90px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#credit{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-size: 11px;
	margin: 0 auto 70px;
	opacity: 0.5;
	padding: 12px 16px;
	text-align: center;
	width: 400px;
}


/*----------------------------
	Media Queries
-----------------------------*/


@media screen and (max-width: 960px) {
	.thumbs, #credit{
		width:auto;
	}
	
	footer{
		display:none;
	}
	
	#bsaHolder{
		display:none;
	}
}