body {
    padding-top: 106px;

    font-family: "Trebuchet MS", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;

    cursor: default;
    text-align: center;

    color: #727376;
    background: #eee;
}
.col-sm-3 {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .col-lg-6.subR {
        padding-right: 0;
    }.col-lg-6.subL {

        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 760px !important;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1170px !important;
    }
}

.btn-noc {
    color: #fff;
    background: #0e582e;
}
.btn-noc:hover,
.btn-noc:active {
    color: #fff;
    background: #0e762e;
}
.btn-noc > a {
    color: #fff;
}

.clear {
    display: block;
    width: 1px;
    height: .001%;
    clear: both;

    font-size: 0;
    line-height: 0;
}

h3 span {
    color: #666;
}
footer ul {
    padding: 0;

    font-size: 15px;
    list-style: none;
}
footer input {
    margin-bottom: 8px;
}

a {
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-decoration: none;

    color: #094021;
}
a:hover,
a:focus {
    text-decoration: none;

    color: #0e582e;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

h1,
h2 {
    line-height: 40px;
}
h3,
h4 {
    line-height: 20px;
}

::-moz-selection {
    color: #fff;
    background: #094021;
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #094021;
    text-shadow: none;
}

/***** Big links / buttons *****/

a.big-link-1 {
    display: inline-block;
    padding: 5px 22px;

    font-style: italic;

    text-decoration: none;

    color: #fff;
    background: #0e582e;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
       -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
            box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-1:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

a.big-link-1:active {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
       -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 6px;

    font-size: 20px;
    line-height: 20px;

    color: #fff;
    -webkit-border-radius: 19px;
       -moz-border-radius: 19px;
            border-radius: 19px;
    background: #0e582e;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
       -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
            box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}
a.big-link-2 i {
    vertical-align: middle;
}

a.big-link-2:hover {
    background: #5d5d5d;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

a.big-link-2:active {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
       -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

/***** Top menu *****/

.navbar {
    margin-bottom: 0;

    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background: #e5f0d5;
}

.navbar-toggle {
    color: #0e582e;
}

ul.navbar-nav {
    font-size: 14px;

    text-transform: uppercase;

    color: #888;
}

ul.navbar-nav li a {
    padding: 23px 15px;

    color: #094021;
    border-top: 5px solid #e5f0d5;
    background: #e5f0d5;
}
ul.navbar-nav li.active a {
    color: #5d5d5d;
    border-color: #bfd73e;
    background: #f8f8f8;
}

ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus {
    color: #fff;
    border-color: #bfd73e;
    outline: 0;
    background: #727776;
}

.nav .open > a {
    color: #5d5d5d;
    border-color: #094021;
    background: #f8f8f8;
}
.nav .open > a:hover,
.nav .open > a:focus {
    color: #fff;
    border-color: #094021;
    background: #094021;
}

ul.navbar-nav li a i {
    line-height: 35px;

    color: #094021;
}
ul.navbar-nav li a:hover i,
ul.navbar-nav li a:focus i {
    color: #fff;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    width: 230px;
    height: 106px;

    text-indent: -99999px;

    background: url(../img/logo.png) left center no-repeat;
    background-size: 100%;
}

/***** Slider *****/

.slider {
    padding-right: 5px;
    padding-left: 5px;
}

/***** Presentation *****/

h1,
.presentation-container span.h1 {
    margin-bottom: 0;

    font-family: Calibri;

    color: #0e582e;
    text-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.presentation-container h2,
.presentation-container h3,
.presentation-container h4 {
    font-weight: bold;

    color: #727376;
    text-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.presentation-container p {
    font-size: 18px;
    font-style: italic;
}

.presentation-container .panel-body {
    text-align: left;
}


/***** Services *****/

.services-container {
    margin-top: 10px;
}

.services-title {
    margin-top: 40px;

    background: url(../img/line.png) left center repeat-x;
}

.services-title h2 {
    width: 200px;
    margin: 0 auto;

    font-family: "Lobster", cursive;
    font-size: 24px;
    font-weight: bold;

    color: #5d5d5d;
    background: #fff;
}

.service {
    padding: 15px 15px 20px 15px;
    margin-top: 40px;

    border-bottom: 2px solid #094021;
    background: #f8f8f8;
}

.service:hover {
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.service .service-icon {
    font-size: 50px;
    line-height: 50px;

    color: #5d5d5d;
}

.service .service-icon i {
    vertical-align: middle;
}

.service h3 {
    margin-top: 13px;

    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.service p {
    padding-bottom: 7px;

    line-height: 24px;
}

/***** Body Container *****/

.body-container {
    text-align: left;
}

.body-container h4 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/

    font-size: 20px;
    font-weight: bold;

    text-transform: uppercase;

    color: #727376;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

.body-container .center-block {
    text-align: center;
}
.body-container .center-block img {
    display: inline-block;
    margin: 3px 1px;
}

/***** Test Container *****/
.body-container.test input[type="text"],
.body-container.test input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
}

.body-container .row-green {
    width: 100%;

    background: #e5f0d5;
}

.body-container .row-green  h4,
.body-container .row-green p {
    font-weight: normal;

    color: #727376;
}

.body-container.test .quest {
    font-size: 14px;
    font-weight: normal;
}

.body-container.test .mdl-radio {
    margin: 5px 10px 20px 10px;

    font-size: 14px;
    font-weight: normal;
}

.body-container.test button {
    margin-top: 10px;
}

.row h1 strong em {
    color: #0e582e;
}

span.drop {
    margin-bottom: -15px;

    font-size: 200%;
    font-style: italic;

    color: #0e582e;
}
/*.mdl-radio__inner-circle {
    background: #0E582E;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #0E582E;
}*/

/***** Latest work *****/

tr div.legenda {
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    margin-top: 3px;

    font-size: 12px;

    color: #fff;
    background-color: #0e582e;
}

.work-container {
    margin-top: 50px;
}

.work-title {
    background: url(../img/line.png) left center repeat-x;
}

.work-title h2 {
    width: 220px;
    margin: 0 auto;
    /*font-family: 'Lobster', cursive;*/

    font-size: 24px;
    font-weight: bold;

    color: #5d5d5d;
    background: #fff;
}

.work {
    padding-bottom: 20px;

    border-bottom: 2px solid #094021;
    background: #f8f8f8;
}

.work:hover img {
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    opacity: .7;
}

.work:hover {
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.work .work-bottom {
    margin-top: 15px;
}

.work h3 {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;

    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.work p {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;

    font-style: italic;
    line-height: 24px;
}

/***** Footer *****/

footer {
    padding-bottom: 10px;
    margin: 0 auto;

    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
       -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;

    text-align: left;
}

.footer-box h4 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/

    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.footer-box-text p {
    font-size: 14px;
    line-height: 24px;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
    padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
    width: 95%;
    height: 26px;
}

.footer-border {
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;

    line-height: 24px;

    text-align: left;
}

.footer-social {
    margin-top: 5px;

    text-align: right;
}

.footer-social-center {
    text-align: center;
}
.footer-social a {
    margin: 0 0 0 10px;

    font-size: 26px;

    color: #888;
}
.footer-social a:hover,
.footer-social a:focus {
    color: #0e582e;
}

/***** Google map *****/

.maps iframe {
    pointer-events: none;
}

.font-size-s {
    font-size: 16px !important;
}
