body {cursor: default; text-align: center; font-family: 'Trebuchet MS', 'Open Sans', sans-serif; background: #eee; color: #727376; font-size: 13px; padding-top: 106px;}
.col-sm-3{
    margin-bottom: 10px;
}

@media (min-width: 1200px){
    .col-lg-6.subR {
        padding-right: 0;
    }.col-lg-6.subL {
        padding-left: 0;
    }
}

.clear{
display:block;
clear:both;
width:1px;
height:0.001%;
font-size:0px;
line-height:0px;}

h3 span{color:#666;}
footer ul{list-style:none; padding:0; font-size:15px;}
footer input{margin-bottom:8px;}

a {
    color: #094021;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus { color: #0E582E; text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 20px; }

::-moz-selection { background: #094021; color: #fff; text-shadow: none; }
::selection { background: #094021; color: #fff; text-shadow: none; }

/***** Big links / buttons *****/

a.big-link-1 {
	display: inline-block;
    padding: 5px 22px;
    background: #0E582E;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-1:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-1:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    background: #0E582E;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}
a.big-link-2 i { vertical-align: middle; }

a.big-link-2:hover {
    background: #5d5d5d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-2:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #e5f0d5;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.navbar-toggle {
    color: #0E582E;
}

ul.navbar-nav {
	font-size: 14px;
	color: #888;
	text-transform: uppercase;
}

ul.navbar-nav li a { padding: 23px 15px; background: #e5f0d5; border-top: 5px solid #e5f0d5; color: #094021; }
ul.navbar-nav li.active a { background: #f8f8f8; border-color: #bfd73e; color: #5d5d5d; }

ul.navbar-nav li a:hover, ul.navbar-nav li a:focus { background: #727776; border-color: #bfd73e; color: #fff; outline: 0; }

.nav .open > a { background: #f8f8f8; border-color: #094021; color: #5d5d5d; }
.nav .open > a:hover, .nav .open > a:focus { background: #094021; border-color: #094021; color: #fff; }

ul.navbar-nav li a i { line-height: 35px; color: #094021; }
ul.navbar-nav li a:hover i, ul.navbar-nav li a:focus i { color: #fff; }

.navbar>.container .navbar-brand { margin-left: 0; }

.navbar-brand {
    width: 230px;
	height: 106px;
	background: url(../img/logo.png) left center no-repeat;
    background-size: 100%;
	text-indent: -99999px;
}

/***** Slider *****/

.slider {
	padding-left: 5px;
	padding-right: 5px;
}

/***** Presentation *****/

h1, .presentation-container span.h1 {
    font-family: Calibri;
    margin-bottom: 0;
    color: #0E582E;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.presentation-container h2, .presentation-container h3, .presentation-container h4 {
    color: #727376;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.presentation-container p {
    font-size: 18px;
    font-style: italic;
}

.presentation-container .panel-body{
    text-align: left;
}


/***** Services *****/

.services-container {
    margin-top: 10px;
}

.services-title {
	margin-top: 40px;
    background: url(../img/line.png) left center repeat-x;
}

.services-title h2 {
    width: 200px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.service {
	margin-top: 40px;
    padding: 15px 15px 20px 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #094021;
}

.service:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.service .service-icon {
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.service .service-icon i { vertical-align: middle; }

.service h3 {
    margin-top: 13px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.service p {
    padding-bottom: 7px;
    line-height: 24px;
}

/***** Body Container *****/

.body-container {
    text-align: left;
}

.body-container h4 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 20px;
    font-weight: bold;
    color: #727376;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

.body-container .center-block {text-align: center;}
.body-container .center-block img {margin: 3px 1px; display: inline-block;}

/***** Test Container *****/
.body-container.test input[type="text"], .body-container.test input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
}

.body-container .row-green {
    width: 100%;
    background: #e5f0d5;
}

.body-container .row-green  h4, .body-container .row-green p{
    font-weight: normal;
    color: #727376;
}

.body-container.test .quest {
    font-size: 14px;
    font-weight: normal;
}

.body-container.test .mdl-radio {
    font-size: 14px;
    margin: 5px 10px 20px 10px;
    font-weight: normal;
}

.body-container.test button {
    margin-top: 10px;
}

.row h1 strong em {
    color: #0E582E;
}

span.drop {
    font-size: 200%;
    font-style: italic;
    color: #0E582E;
    margin-bottom: -15px;
}
/*.mdl-radio__inner-circle {
    background: #0E582E;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #0E582E;
}*/

/***** Latest work *****/

tr div.legenda {
    padding-top:12px;
    padding-bottom:12px;
    padding-left:14px;
    padding-right:14px;
    margin-top:3px;
    background-color:#0E582E;
    color:#fff;
    font-size:12px;
}

.work-container {
    margin-top: 50px;
}

.work-title {
    background: url(../img/line.png) left center repeat-x;
}

.work-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    /*font-family: 'Lobster', cursive;*/
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.work {
    padding-bottom: 20px;
    background: #f8f8f8;
    border-bottom: 2px solid #094021;
}

.work:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.work:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.work .work-bottom {
    margin-top: 15px;
}

.work h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
	 padding-top: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.work p {
 padding-top: 10px;
	padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}

/***** Footer *****/

footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;
    text-align: left;
}

.footer-box h4 {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.footer-box-text p {
    line-height: 24px;
	font-size:14px;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
	padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
	width: 95%;
	height: 26px;
}

.footer-border {
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;
    line-height: 24px;
    text-align: left;
}

.footer-social {
    margin-top: 5px;
    text-align: right;
}

.footer-social-center {
    text-align: center;
}
.footer-social a { margin: 0 0 0 10px; font-size: 26px; color: #888; }
.footer-social a:hover, .footer-social a:focus { color: #0E582E; }

/***** Google map *****/

.maps iframe{
    pointer-events: none;
}

.font-size-s {
  font-size: 14px !important;
}